services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: franchise-app
    ports:
      - "8080:8080"
    environment:
      # Configuración de base de datos inyectada desde .env
      - SPRING_R2DBC_URL=${DB_URL}
      - SPRING_R2DBC_USERNAME=${DB_USERNAME}
      - SPRING_R2DBC_PASSWORD=${DB_PASSWORD}
      
      # Seguridad JWT (Debe coincidir con la de .env)
      - JWT_SECRET=${JWT_SECRET}
      - APP_AWS_URL=${APP_AWS_URL}
      
      # Configuración operativa
      - SPRING_SQL_INIT_MODE=always
      - LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_R2DBC=DEBUG
      - LOGGING_LEVEL_COM_FRANCHISE=DEBUG
    restart: always